/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Light';
  src: url("/font/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Bold';
  src: url("/font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Black';
  src: url("/font/Montserrat-Black.ttf");
}

@font-face {
  font-family: 'Regular';
  src: url("/font/Montserrat-Regular.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Light', sans-serif;
}

h1 {
  font-family: 'Bold',sans-serif;
  font-size: 4.4vw;
  padding-bottom: 25px;
}

h4 {
  font-size: 24px;
  line-height: 58px;
  letter-spacing: 1px;
  font-family: 'Black', sans-serif;
}

button {
  border: 2px solid #fff;
  margin: 0;
  pad: 0;
  background: transparent;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Regular';
  width: 200px;
  line-height: 50px;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover {
  background: #fff;
  color: #000;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url("/img/bg.png") repeat;
  color: #fff;
  min-height: 2000px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
}

.centered {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: absolute;
  width: 100%;
  max-width: 1280px;
  left: 0;
  right: 0;
}

header .header-item {
  height: 125px;
  width: 180px;
}

header .menu {
  position: relative;
  display: flex;
  align-items: center;
}

header .menu i {
  font-size: 22px;
  cursor: pointer;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .logo img {
  cursor: pointer;
}

header .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .socials div {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  position: relative;
}

header .socials div a i {
  color: #fff;
}

header .socials div:first-child {
  margin-right: 9px;
}

/*test glitch*/
.glitch-sc, .glitch-insta, .glitch-fb, .glitch-youtube, .glitch-logo {
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.glitch-menu {
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
}

.glitch-sc:hover, .glitch-insta:hover, .glitch-fb:hover, .glitch-youtube:hover, .glitch-menu:hover {
  animation: glitch 2s steps(100) infinite;
}

/*main block 1*/
.black-wrap {
  background: #070707;
  position: relative;
  height: 100vh;
}

.black-wrap .wrapper-polos {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url("/img/pol.png");
  background-position: center;
  height: 0;
}

.main-block {
  height: 100vh;
  background-position: right;
  background-size: contain;
  position: relative;
  position: relative;
}

.main-block .title-with-info {
  height: 300px;
  position: absolute;
  width: 60%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}

.main-block .title-with-info p {
  line-height: 32px;
  font-size: 21px;
  padding-bottom: 30px;
}

.main-block .title-with-info .main-buttons {
  display: flex;
  z-index: 9999999;
}

.main-block .title-with-info .main-buttons .active {
  border-right: transparent;
}

.pre-glitch-img {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 60%;
}

.glitch-img {
  background: url("/img/main.png") no-repeat;
  position: absolute;
  width: 120%;
  height: 100vh;
  top: 0;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 1;
}

.about {
  display: flex;
  padding-top: 80px;
}

.about .left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .left-side .about-links {
  width: 155px;
  display: flex;
  flex-direction: column;
}

.about .left-side .about-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Light', sans-serif;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.about .left-side .about-links a span {
  padding-bottom: 10px;
  padding-right: 10px;
}

.about .left-side .about-links a:first-child i {
  padding-right: 10px;
}

.about .left-side .about-links a:nth-child(2) i {
  padding-right: 13px;
  padding-left: 4px;
}

.about .left-side .about-links a:nth-child(3) i {
  padding-right: 16px;
  padding-left: 6px;
}

.about .left-side .about-links a:last-child i {
  padding-right: 14px;
  padding-left: 4px;
}

.about .right-side {
  width: 50%;
}

.about .right-side p {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 20px;
}

.about .right-side p b {
  font-family: 'Bold', sans-serif;
}

/*third block*/
.my-video {
  position: relative;
}

.my-video img {
  width: 100%;
}

.my-video .play {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-video .play i {
  color: red;
  font-size: 100px;
  cursor: pointer;
  transition: 0.2s ease;
}

.my-video .play i:hover {
  font-size: 110px;
}

.glitch-sc1:hover, .glitch-insta1:hover, .glitch-fb1:hover, .glitch-youtube1:hover, .glitch-sc:hover {
  animation: glitch 2s steps(100) infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  1% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  2% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  3% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  4% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  5% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  6% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  7% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  8% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  9% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  10% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  11% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  12% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  13% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  14% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0);
  }
  15% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0);
  }
  16% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  17% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  18% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  19% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  20% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  21% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  22% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  23% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  24% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  25% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  26% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  27% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  28% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  29% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  30% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  31% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  32% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  33% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  34% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  35% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  36% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  37% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  38% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  39% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  40% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  41% {
    text-shadow: 45px 0 0 #0c33f5, -45px 0 0 #1ed9d3;
    filter: blur(0);
  }
  42% {
    text-shadow: 0 0 0 #0c33f5, 0 0 0 #1ed9d3;
    filter: blur(0);
  }
  43% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0);
  }
  44% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0);
  }
  45% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0);
  }
  46% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  47% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  48% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  49% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  50% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  51% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  52% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  53% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  54% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  55% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0.5px);
  }
  56% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0.5px);
  }
  57% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0.5px);
  }
  58% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  59% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  60% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 #1ed9d3;
    filter: blur(0);
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 #1ed9d3;
    filter: blur(0);
  }
  63% {
    text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
    filter: blur(0);
  }
  64% {
    text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
    filter: blur(0);
  }
  65% {
    text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
    filter: blur(0);
  }
  66% {
    text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
    filter: blur(0.5px);
  }
  67% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0.5px);
  }
  68% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  69% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  70% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  71% {
    text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5;
    filter: blur(0);
  }
  72% {
    text-shadow: 0 0 0 red, 0 0 0 #0c33f5;
    filter: blur(0);
  }
  73% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  74% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  75% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  76% {
    text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
    filter: blur(0);
  }
  77% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  78% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  79% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  80% {
    text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
    filter: blur(0);
  }
  81% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0);
  }
  82% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0);
  }
  83% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  84% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  85% {
    text-shadow: 1px 0 0 red, -1px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  86% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  87% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0.5px);
  }
  88% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  89% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  90% {
    text-shadow: -3px 0 0 red, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  91% {
    text-shadow: 60px 0 0 #1ed9d3, -60px 0 0 #0c33f5;
    filter: blur(0);
  }
  92% {
    text-shadow: 0 0 0 #1ed9d3, 0 0 0 #0c33f5;
    filter: blur(0);
  }
  92% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  93% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  94% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  95% {
    text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #1ed9d3;
    filter: blur(0);
  }
  96% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  97% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  98% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  99% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
  100% {
    text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #1ed9d3;
    filter: blur(0);
  }
}

/*four bloc gallery*/
.gallery {
  position: relative;
  min-height: 700px;
}

.gallery .genes {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url("/img/line.png") no-repeat;
  height: 280px;
  z-index: -1 !important;
}

.gallery .photo-gal {
  text-align: center;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 80px;
}

.gallery .photo-gal .area-with-foto {
  overflow: hidden;
  margin-top: 80px;
}

.gallery .photo-gal .area-with-foto .photo-item {
  float: left;
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.gallery .photo-gal .area-with-foto .photo-item .item {
  height: 230px;
  width: 370px;
  border: 1px solid rgba(0, 128, 0, 0.527);
  background: rgba(0, 0, 0, 0.603);
}

.gallery .photo-gal .w-me {
  border: 2px solid #fff;
  color: #000;
  cursor: pointer;
  margin-top: 50px;
  background: #fff;
  transition: 0.3s linear;
  font-family: 'Regular';
  font-size: 16px;
  line-height: 33px;
  padding: 0 27px;
}

.gallery .photo-gal .w-me:hover {
  background: transparent;
  color: #fff;
}

.gigers {
  text-align: center;
  position: relative;
}

.gigers .red-imager {
  height: 1220px;
  position: absolute;
  left: -150px;
  right: 150px;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.gigers .red-img {
  height: 1220px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: url("/img/red.png") no-repeat;
  width: 100%;
}

.gigers .gigs .play-photo {
  height: 525px;
  position: relative;
}

.gigers .gigs .play-photo .playlist {
  width: 50%;
  height: 100%;
  float: left;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.gigers .gigs .play-photo .playlist .pl {
  width: 90%;
  height: 75px;
  background: url("/img/play.png") no-repeat;
  background-position: center;
}

.gigers .gigs .play-photo .photo {
  width: 50%;
  height: 100%;
  float: left;
  z-index: 99;
}

.gigers .gigs .play-photo .photo .pto {
  text-align: left;
}

.tour {
  padding: 0 20px;
  text-align: center;
  z-index: 99;
}

.tour .list-of-tour {
  height: 100%;
}

.tour .list-of-tour .list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.tour .list-of-tour .list-item .grupper {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  position: relative;
}

.tour .list-of-tour .list-item .grupper div {
  line-height: 50px;
  font-family: 'Regular', sans-serif;
  font-size: 15px;
}

.tour .list-of-tour .list-item .grupper .location {
  width: 100px;
  position: relative;
}

.tour .list-of-tour .list-item .grupper .location article {
  position: absolute;
  width: 200px;
  text-align: left;
}

.tour .list-of-tour .list-item .city {
  line-height: 50px;
  font-size: 15px;
}

.tour .list-of-tour .list-item button {
  font-size: 13px;
  line-height: 44px;
  widows: 180px;
}

.play-two {
  height: 404px !important;
}

.photo-two {
  position: relative;
}

.photo-two .pto {
  position: relative;
  height: 100%;
}

.photo-two .pto .proto {
  background: url("/img/bot.jpg") !important;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*footer*/
footer {
  height: 290px;
  background: #070707;
  border: 1px solid red;
  text-align: center;
}

@media (max-width: 1144px) {
  .gallery .photo-gal .area-with-foto .photo-item {
    float: inherit;
    margin: 0 auto;
  }
}

.bur {
  display: flex;
  flex-direction: column;
  /* border: 1px solid tomato; */
  line-height: 6px;
  font-size: 33px;
  font-weight: 100;
  cursor: pointer;
}

.leh {
  color: #fff;
}
 

 /*# sourceMappingURL= main.css.map */